* {
  padding: 0;
  margin: 0;
  letter-spacing: -0.03em;
}

body {
  padding: 125px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
}

h1 {
  margin-bottom: 30px;

  width: 956px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  line-height: 60px;
}

.p-short {
  margin-bottom: 40px;
  margin-left: 40px;

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  width: 430px;
  text-align: start;
}

.photo-background {
  margin-bottom: 150px;
  margin-top: 30px;

  display: flex;
  align-items: end;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url('../resources/header-image.png');
  background-size: cover; 
}

.project-image {
  display: flex;
  align-items: end;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; 
}

#wrapper {
  max-width: 1150px;
}

.mini-headers {
  margin-top: 150px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.btn-services {
  border-radius: 5px;
  padding: 20px 40px;
  background-color: #AD1818;
  gap: 10px;
  width: 255px;
  height: 67px;
  left: 125px;
  top: 1379px;
  cursor: pointer;

  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: #FFFFFF;
}

.p-about-us {
  font-weight: 400;
  font-size: 45px;
  color: #000000d4;
  line-height: 61px;
  margin-bottom: 30px;
}

.projects-description {
  margin-top: 15px;

  font-weight: 400;
  font-size: 30px;
}

.more-info {
  display: block;
  margin-top: 15px;
  margin-bottom: 90px;

  font-weight: 400;
  font-size: 20px;
  color: #AD1818;
  cursor: pointer;

}

.all-projects {
display: block;
margin: 90px 0px;

border: 1px solid;
border-radius: 5px;
width: 100%;
height: 153px;

font-weight: 400;
font-size: 30px;
color: #AD1818;
text-align: center; 
line-height: 153px;
text-decoration: none;
cursor: pointer;
}

.all-projects:hover {
background-color: #AD1818;
color: #FFFFFF;
}
